<table>
	<tr>
		<th style="width: 33%">Number of roles</th>
		<td>45 &frac12;</td>
	</tr>
	<tr>
		<th>Price</th>
		<td>€350. We are applying for funding through <a href="http://larpfund.org/" target="_blank">Larp Fund</a>.</td>
	</tr>
	<tr>
		<th>Location</th>
		<td>An abandoned amusement park in Vaasa, Finland. We are organising an optional bus from Helsinki.</td>
	</tr>
	<tr>
		<th>Game dates</th>
		<td>15&ndash;18 September, 2017</td>
	</tr>
	<tr>
		<th>Application opens</th>
		<td>February 23, 2017</td>
	</tr>
	<tr>
		<th>Application ends</th>
		<td>March 13, 2017</td>
	</tr>
</table>
