<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header>
                <img  class="logo" src="assets/images/logo-straight.png" alt="Freak Show Logo"/>
            </header>
            <div class="content">
                <p>
                    {{ site.description }}
                </p>
                <ul class="actions">
                    <li><a href="#more" class="button next scrolly">Learn more</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        {% include tiles.html %}

        <!-- Two -->
        <section id="more">
            <div class="inner">
                {{ content }}
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
